doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800", rel="stylesheet")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js", integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9", crossorigin="anonymous")
  body
    .content-log
      .slogan.col.col-5
        p La manera más rapida de planificar tu SCRUM!
      .login-box.col.col-5
        header ¡Hola de nuevo!
        form
          .form-group
            label(for='exampleInputEmail1') CORREO ELECTÓNICO
            input.form-control(type='email', placeholder='Ingresa tu correo aquí...', required='')
          .form-group
            label(for='exampleInputPassword1') CONTRASEÑA
            input.form-control(type='password', placeholder='Ingresa tu contraseña aquí...', required='')
            small.form-text
              a.restore(href='') ¿Olvidaste tu contraseña?
          .options
            a(href='auth/facebook')
              div.social
                img(src='https://static.eupho.io/assets/img/social/icon-facebook.svg', alt='')
            a(href='auth/twitter')
              div.social
                img(src='https://static.eupho.io/assets/img/social/icon-twitter.svg', alt='')
            a(href='/auth/google')
              div.social
                img(src='https://static.eupho.io/assets/img/social/icon-google.svg', alt='')
            button.btn.btn-primary(type='submit') Iniciar Sesión
